<div class="new-user-container">
  <form class="form-container" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <app-input-user-name [userNameControl]="userName"></app-input-user-name>
    <app-input-full-name [fullNameControl]="fullName"></app-input-full-name>
    <app-input-password [passFormControl]="password" [confPassFormControl]="confirmPassword" [errorStateMatcher]="matcher"></app-input-password>

    <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Guardar</button>
  </form>
</div>
