<h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content >
    <form class="form-container" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <app-input-full-name [fullNameControl]="fullName"></app-input-full-name>
      <app-input-password [passFormControl]="password" [confPassFormControl]="confirmPassword" [errorStateMatcher]="matcher"></app-input-password>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" mat-dialog-close>Close</button>
    <button class="mat-raised-button mat-primary" (click)="onSubmit()"  [disabled]="!userForm.valid" mat-dialog-close>Guardar</button>
  </mat-dialog-actions>

