<div>
  <mat-form-field>
    <input matInput placeholder="Introduce tu nombre completo" [formControl]="fullNameControl" minlength="1" maxlength="200"
           pattern="^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ]+$">
    <mat-error *ngIf="fullNameControl.hasError('pattern') && !fullNameControl.hasError('required')">
      Por favor intoduce un nombre correcto. Sólo debe aceptar letras y espacios
    </mat-error>
    <mat-error *ngIf="fullNameControl.hasError('required')">
      Nombre completo es obligatorio
    </mat-error>
  </mat-form-field>
</div>
