<div>
  <mat-form-field>
    <input matInput placeholder="Enter your password" [formControl]="passFormControl" [type]="hide ? 'password' : 'text'" minlength="8"
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="passFormControl.hasError('pattern') && !passFormControl.hasError('required')">
      Por favor intoduce un password correcto. Debe contener al menos un carácter en mayúscula y un número.
    </mat-error>
    <mat-error *ngIf="passFormControl.hasError('required')">Campo obligatorio</mat-error>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input matInput placeholder="Confirm your password" [formControl]="confPassFormControl" [errorStateMatcher]="errorStateMatcher" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="!confPassFormControl.hasError('required')">Contraseña no coincide</mat-error>
    <mat-error *ngIf="confPassFormControl.hasError('required')">Campo obligatorio</mat-error>
  </mat-form-field>
</div>
