<mat-form-field>
  <input matInput placeholder="Introduce tu alias de usuario" [formControl]="userNameControl" minlength="1" maxlength="20" pattern="^[a-z0-9]+$">
  <mat-error *ngIf="userNameControl.hasError('pattern') && !userNameControl.hasError('required')">
    Por favor intoduce un alias correcto. Sólo puede contener caracteres alfanuméricos
  </mat-error>
  <mat-error *ngIf="userNameControl.hasError('required')">
    Alias es obligatorio
  </mat-error>
</mat-form-field>
